@import url('https://fonts.googleapis.com/css2?family= Anton & family= Delicious+Handraiswn & display=swap');

body {
    text-align: center;
    padding: 80px;
    background-color: #0088cc;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: whitesmoke;
}

.calculo {
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: black;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.imc{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-family: tahoma, sans-serif;
    font-weight: bold;
    background-color: #0088cc;
    color: #fff;
    padding: 5px 8px;
    border: 1px solid #0088cc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all .7s ease;
}

button:hover{
   background-color: #fff;
   color: #0088cc;
}

.container{
    text-align: center;
    display: flexbox;
}

.peso{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
}

.altura{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
}

footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.img-gmail{
    width: 20px;
    height: 15px;
}

img{
    width: 325px;
    height: 200px;
}
